@page "/"
@using Microsoft.AspNetCore.Authentication

@using System.Net.Http.Headers
@using WarBot.UI.Models.Discord

<PageTitle>Home</PageTitle>


<h3>WarBOT Configuration Site</h3>

Welcome to the WarBOT configuration site. 

<p>
This site is used to configure WarBOT's functionality.
</p>
<p>If you need assistance, please refer to the <a href="https://docs.warbot.dev/">Documentation</a>.</p>

<p>To get started, please select a configuration category from the navigation menu.</p>

